<div class="dashboard-container">
  <app-sidebar (viewChange)="setView($event)"></app-sidebar>
  
  <div class="main-content">
    <app-header (viewChange)="setView($event)"></app-header>
    
    <div class="content-area">
      <app-projects *ngIf="currentView === 'dashboard'" (viewChange)="setView($event)"></app-projects>
      <app-campaigns *ngIf="currentView === 'dashboard'" (viewChange)="setView($event)"></app-campaigns>
      <app-projet *ngIf="currentView === 'projet'"></app-projet>
      <app-fonds *ngIf="currentView === 'fonds'"></app-fonds>
      <app-nouveau-projet *ngIf="currentView === 'nouveau-projet'"></app-nouveau-projet>
      <app-nouvelle-campagne *ngIf="currentView === 'nouvelle-campagne'"></app-nouvelle-campagne>
      <app-nouvelle-campagne-don *ngIf="currentView === 'nouvelle-campagne-don'"></app-nouvelle-campagne-don>
      <app-nouvelle-campagne-benevolat *ngIf="currentView === 'nouvelle-campagne-benevolat'"></app-nouvelle-campagne-benevolat>
      <app-campagnes *ngIf="currentView === 'campagnes'" (viewChange)="setView($event)"></app-campagnes>
      <app-profil *ngIf="currentView === 'profil'" [currentView]="currentView"></app-profil>
      <app-parametres *ngIf="currentView === 'parametres'"></app-parametres>
      <app-message *ngIf="currentView === 'message'"></app-message>
      <app-notifications *ngIf="currentView === 'notifications'"></app-notifications>
    </div>
  </div>
</div>